        <footer>
            <p id="footer_logo"><a href="http://goray.sourceforge.net/"><img src="/static/logo.svg" alt="goray"></a></p>
            <p id="copyright">
                Copyright &copy; 2011 Ross Light<br>
                Based on <a href="http://www.yafaray.org/">YafaRay</a>: Copyright &copy; 2005 Mathias Wein, Alejandro Conty, and Alfredo de Greef<br>
                <a href="http://jquery.com/">jQuery</a>: Copyright &copy; 2011 John Resig
            </p>
            <p>goray is <a href="/license">free software</a>.</p>
        </footer>
