<!DOCTYPE html>
<html>
    <head>
        <title>Goray</title>
        {{template "head.html"}}
    </head>
    <body>
        {{template "header.html"}}
        <div id="main">
            <h1>Render Queue</h1>
            <table id="render_queue">
                <thead>
                    <tr>
                        <th scope="col" class="col_job">Job</th>
                        <th scope="col" class="col_status">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                    <tr>
                        <td class="col_job"><a href="/job/{{.Name}}">{{.Name}}</a></td>
                        <td class="col_status">{{.Status.Code}}</td>
                    </tr>
                    {{else}}
                    <tr class="nodata">
                        <td colspan="2">No jobs</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <p><span class="button"><a href="/submit">Submit a Job</a></span></p>
        </div>
        {{template "footer.html"}}
    </body>
</html>
