<!DOCTYPE html>
<html>
    <head>
        <title>Goray Log</title>
        {{template "head.html"}}
    </head>
    <body>
        {{template "header.html"}}
        <div id="main">
            <h1>Log</h1>
            <table id="log_table">
                <thead>
                    <tr>
                        <th scope="col">Level</th>
                        <th scope="col">Message</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                    <tr>
                        <td>{{.Level}}</td>
                        <td>{{.String}}</td>
                        <td>{{with .Timestamp}}{{.Format "2006-01-02T15:04:05Z07:00"}}{{end}}</td>
                    </tr>
                    {{else}}
                    <tr class="nodata">
                        <td colspan="3">No log records</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        {{template "footer.html"}}
    </body>
</html>
