<!DOCTYPE html>
<html>
    <head>
        <title>Goray - Submit a Job</title>
        {{template "head.html"}}
    </head>
    <body>
        {{template "header.html"}}
        <div id="main">
            <h1>Submit a Job</h1>
            <p>Submit a render document below!</p>
            <form id="job_submit" action="/submit" method="POST">
                <p><textarea name="data" rows="30" cols="80"></textarea></p>
                <p><input type="submit" value="Submit" class="button"></p>
            </form>
        </div>
        {{template "footer.html"}}
    </body>
</html>
