<!DOCTYPE html>
<html>
    <head>
        <title>Goray - Submit a Job</title>
        {{Blocks.Head|safe}}
    </head>
    <body>
        {{Blocks.Header|safe}}
        <div id="main">
            <h1>Submit a Job</h1>
            <p>Submit a render document below!</p>
            <form action="/submit" method="POST">
                <p><textarea name="data" rows="30" cols="80"></textarea></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div>
        {{Blocks.Footer|safe}}
    </body>
</html>
