/*
 *  style.css
 *  goray
 */

html, body
{
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    background: #111;
}

#top > header > h1
{
    width: 128px;
    background: transparent url(/static/logo-white.svg) no-repeat left;
    overflow: hidden;
    text-indent: -999em;
}

#top > header > h1 > a
{
    display: block;
    width: 128px;
    height: 64px;
}

#main
{
    width: 90%;
    margin: 1em auto;
    padding: 0.5ex 1em 1em;

    color: white;
    background: #333;
    font-size: 110%;
}

#main h1,#main h2,#main h3,#main h4,#main h5,#main h6
{
    margin-top: 1ex;
    margin-bottom: 1em;
}

#main h1 { font-size: 175%; }
#main h2 { font-size: 150%; }
#main h3 { font-size: 125%; }
#main h4 { font-size: 112.5%; }
#main h5 { font-size: 100%; }
#main h6 { font-size: 100%; }

p
{
    margin-bottom: 1em;
}

#main table
{
    margin-bottom: 1.5em;
}

#main table th
{
    text-align: left;
}

#main table th, #main table td
{
    padding: 0.5ex 1ex;
}

:link
{
    color: #91aceb;
}

:visited
{
    color: #9067D6;
}

.button
{
    padding: 0.5ex 1ex;

    color: #414141;
    background: #aaa;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    border: 2px solid #9c9c9c;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px; 

    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.button > :link, .button > :visited, .button > a:hover
{
    color: inherit;
    text-decoration: none;
}

footer
{
    width: 50%;
    margin: 0 auto 2em;
    padding: 1em;

    color: black;
    background: #666;
    font-size: 80%;
}

#footer_logo
{
    text-align: center;
}

#footer_logo img
{
    width: 64px;
    height: 32px;
}

footer :visited
{
    color: #502F87;
}

/* Page-specific */

#render_queue
{
    width: 33%;
    color: black;
    background: white;
}

#render_queue .col_job
{
    width: 25%;
}

#render_queue .col_status
{
    width: 75%;
}

#render_queue > thead > tr
{
    background: #ccc;
}

#load_message > *
{
    vertical-align: middle;
}

#websocket_warning
{
    font-style: italic;
}

#job_submit textarea[name="data"]
{
    font-family: Menlo, "Courier New", Courier, monospace;
}
